body {
    color: #444444;
    background-color: white;
    font-weight: 400;
}

.slide {
    text-shadow: none;
}

code, pre {
	font-family: Monaco;
	font-size: 18pt;
	line-height: normal;
}

p {
    text-align: justify;
}

#slide4 img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;


}

#slide8 h1 {
    font-size: 1500%;
    text-align: center;
}
